* {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.hero {
  align-items: center;
  text-align: left;
  padding-top: 7%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background: linear-gradient(182.79deg, #0ba7e3 39.06%, #00f2fe 97.68%);
  overflow: hidden;
  /* height: 100vh; */
}

.hero h1 {
  padding-top: 20%;
}

.hero img {
  height: 90vh;
}

.hero h1 {
  font-size: 3.5rem;
  color: #ffff;
}

.hero span {
  color: #0b0707;
}


.hero button {
  width: 120px;
}

.about-img img {
  padding-top: 170px;
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
}

.navbar-wrapper button {
  margin-left: 45px;
  padding-top: 2px;
  padding-right: 25px;
  padding-left: 25px;
}

.ctr {
  padding: 8rem 7% 1.4rem;
}

.content {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.crd {
  justify-content: center;
}

.to {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.tryout {
  /* padding: 5rem 6% 1rem; */
  display: flex;
  /* align-items: center; */
  text-align: left;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background: #0ba7e3;
}

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .blink {
    animation: blink 1s infinite;
  }

  .empty-container {
    max-width: 100px;
    min-height: 100px;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  .empty-container h2 {
    font-size: 1.5em;
  }
  
  .empty-container p {
    font-size: 1em;
  }
  


.testimoni {
  background: linear-gradient(182.79deg, #0ba7e3 39.06%, #293149 97.68%);
  z-index: 1;
}

.box2 {
  background: #1f2937;
}

.box2 p {
  color: #ffff;
}

.ftr {
  background: #293149;
}
/* .about-ornamen img {
  width: 150px;
  height: 150px;
} */

.pop-testimoni {
  position: "absolute";
  z-index: 0;
  margin-left: -25%;
  margin-top: 20%;
}

@media only screen and (max-width: 600px) {
  .hero {
    padding-top: 20%;
    height: 100%;
  }

  .hero h1 {
    padding-top: 7%;
  }

  .hero img {
    /* width: 100%;
    height: 100%; */
    display: none;
  }

  .pop-testimoni {
    margin-left: 0;
    margin-top: 0;
  }
}
